<!-- menù di scelta formato da 2 collegamenti: comp 1 e comp 2 -->
<nav class="nav">
    <a routerLink="/login" class="btn btn-outline-primary" role="button" aria-pressed="true">login al gioco</a>
    <a routerLink="/dadi" class="btn btn-outline-primary" role="button" aria-pressed="true">Gioca a dadi </a>
    <a routerLink="/animali" class="btn btn-outline-primary" role="button" aria-pressed="true">Presenta Animali </a>
    <a routerLink="/canada" class="btn btn-outline-primary" role="button" aria-pressed="true">Chiama Canada </a>
</nav>
<hr />