<span *ngIf="isAutorizzato(); else nonav">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>giocatore 1 <input type="text" [(ngModel)]="nome1" /></p>
        <p>punteggio {{ punt1 }}</p>
      </div>
      <div class="col">
        <p>
          <button (click)="resetta()">resetta</button>
        </p>
      </div>
      <div class="col">
        <p>giocatore 2 <input type="text" [(ngModel)]="nome2" /></p>
        <p>punteggio {{ punt2 }}</p>
      </div>
    </div>
  </div>

  <app-dadi5
    [nomeGiocatore]="nome1"
    [numGioc]="nGiocate"
    (punteggio)="punti1($event)"
  ></app-dadi5>
  <app-dadi5
    [nomeGiocatore]="nome2"
    [numGioc]="nGiocate"
    (punteggio)="punti2($event)"
  ></app-dadi5>
</span>

<ng-template #nonav>
  <h1>NON SEI AUTORIZZATO</h1>
</ng-template>
